@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/spectral/v7/rnCs-xNNww_2s0amA9uSsG3BafM.ttf) format('truetype');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/spectral/v7/rnCr-xNNww_2s0amA9M5kn0.ttf) format('truetype');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/spectral/v7/rnCs-xNNww_2s0amA9vKsW3BafM.ttf) format('truetype');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/spectral/v7/rnCs-xNNww_2s0amA9uCt23BafM.ttf) format('truetype');
}
